/*START HEADER*/
body{
    background: #555454;

    /*Margen externa*/
    margin: 0;

    /*Margen interna*/
    padding: 0;
}

header{
    position: relative;
    width: 100%;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;      
}

header nav ul{
    display: flex;

    /*Estilo de indices en opciones de menu*/
    list-style: none;
}

header nav ul li{
    margin: 5px 30px;
}

header nav #logo a img{
    width: 150%;
}

nav ul li a{
    color: #000000;
    font-size: 30px;
    text-decoration: none;
    padding: 5px 12px;
    transition: 0.5s;
}

header div #hero {
    width: 100%;

    /*Al no poner posicion relativa el texto se sale de la pantalla*/
    position: relative;
}

header #hero h1{
    position: absolute;
    top: 52%;
    right: 0%;
    left: 0%;
    text-align: center;
    color: rgba(89, 16, 206, 0.418);
    background: #00000059;
    font-size: 60px;
    padding: 30px 0;
}


header #hero img{
    width: 100%;
}

nav ul li a:hover{
    background: #e27c07;
    color: #4e3531;
}
/*END HEADER*/


/*START MAIN*/

main{
    width: 100%;
    position: relative;
}

main #welcome  

main #welcome .row{
    background: #000000;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
} 

main #welcome .row #conText{
    width: 40%;
    padding: 50px 0;
}

main #welcome .row #contImg{
    width: 40%;
    padding: 50px 0;
}

main #welcome .row #contImg img{
    width: 100%;
    padding: 500px;
}
    


